<script>
    $(window).scroll(function() {
        if($(window).scrollTop() == $(document).height() - $(window).height()) {
            // ajax call get data from server and append to the div
            var $loading = $("<div class='loading'><p>Loading more items&hellip;</p></div>");
            $('body').append($loading);
        }
    });
</script>
<div class="jumbotron" ng-controller="EmailListCtrl as listCtrl">
    <div class="container">
        <div class="view-container">
            <div class="col-md-12">
                <!--Body content-->
                <div>
                    <ul class="pager">
                        <li class={{page==1?"disabled":""}}>
                            <a href="" ng-click=page==1?"":getPage(page-1)
                               aria-label="Previous">
                                <span aria-hidden="true">Previous</span>
                            </a>
                        </li>
                        <!--<li class={{page==$index+1?"active":""}}
                            ng-repeat="i in getNumber(totalEmails.count) track by $index">
                            <a href="" ng-click="getPage($index+1)">{{$index+1}}</a>
                        </li>-->
                        <li class={{page==1?"disabled":""}}>
                            <a href="" ng-click=getPage(1)>first</a></li>
                        <li class="disabled"><a href="">{{page}}</a></li>
                        <li class={{page==getNumber(totalEmails.count).length?"disabled":""}}>
                            <a href="" ng-click=getPage(getNumber(totalEmails.count).length)>last</a>
                        </li>
                        <li class={{page==getNumber(totalEmails.count).length?"disabled":""}}>
                            <a href="" ng-click=page==getNumber(totalEmails.count).length?"":getPage(page+1)
                               aria-label="Next">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <span>Total emails: {{totalEmails.count}}</span>
                <span align="center"><input type="text" size="50" placeholder="Filter emails..."
                                            ng-model="query"></span>
                <span class="pull-right">
                    <div class="dropdown">
                        <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                            Select Per Page <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class={{numPerPage==100?"disabled":""}}><a href=""
                                                                           ng-click=numPerPage==100?"":updatePerPage(100)>Show
                                100</a></li>
                            <li class={{numPerPage==150?"disabled":""}}><a href=""
                                                                           ng-click=numPerPage==150?"":updatePerPage(150)>Show
                                150</a></li>
                            <li class={{numPerPage==200?"disabled":""}}><a href=""
                                                                           ng-click=numPerPage==200?"":updatePerPage(200)>Show
                                200</a></li>
                            <li class={{numPerPage==250?"disabled":""}}><a href=""
                                                                           ng-click=numPerPage==250?"":updatePerPage(250)>Show
                                250</a></li>
                            <li class={{numPerPage==500?"disabled":""}}><a href=""
                                                                           ng-click=numPerPage==500?"":updatePerPage(500)>Show
                                500</a></li>
                            <li class={{numPerPage==totalEmails.count?"disabled":""}}><a href=""
                                                                                         ng-click=numPerPage==totalEmails.count?"":updatePerPage(totalEmails.count)>All</a>
                            </li>
                        </ul>
                    </div>
                </span>
                <span class="pull-right">Per page emails: {{data.length}} &nbsp;&nbsp;&nbsp;&nbsp;</span>
                <br>
                <br>
                <ul class="list-group">
                    <li ng-repeat="email in data  = (emails | filter:query | orderBy:orderProp)"
                        class="list-group-item">
                        <a href="" ng-click="showHide(email)">{{email.message_id}}</a>
                        <a href="" ng-click="showHide(email)"><b>{{email.subject.substring(0,100)}}</b></a>&nbsp;&nbsp;(<i>{{email.from_name}}</i>)
                        <i class="pull-right">{{email.message_date}}</i>
                        <br class="show-{{email.show}}">
                        <em class="show-{{email.show}}">From : {{email.from_name}}
                            &nbsp;&nbsp;<b>{{email.from_email}}</b></em>
                        <a class="show-{{email.show}}" href="" ng-click="showText(email)">body</a>
                        <ul class="show-{{email.show}}">
                            <li class="list-inline" ng-repeat="attachment in email.fileArray">
                                <a href="/emails/file?file_name={{attachment.longFileName}}" target="_blank">{{attachment.longFileName}}</a>
                            </li>
                        </ul>
                        <pre class="show-{{email.showBody}} pre-scrollable">
                            {{email.body_text}}
                        </pre>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>