<div class="jumbotron">
    <div class="container">
        <div class="view-container">
            <div class="col-md-12">
                <!--Body content-->
                <div>
                    <ul class="pager">
                        <li class={{page==0?"disabled":""}}>
                            <a href="" ng-click=page==0?"":getPage(page-1)
                               aria-label="Previous">
                                <span aria-hidden="true">Previous</span>
                            </a>
                        </li>
                        <li class={{page==0?"disabled":""}}>
                            <a href="" ng-click=page==0?"":getPage(0)>first</a></li>
                        <li class="disabled"><a href="">{{page+1}}</a></li>
                        <li class={{page==getNumber(totalEmails.count).length?"disabled":""}}>
                            <a href=""
                               ng-click=page==getNumber(totalEmails.count).length?"":getPage(getNumber(totalEmails.count).length)>last</a>
                        </li>
                        <li class={{page==getNumber(totalEmails.count).length?"disabled":""}}>
                            <a href="" ng-click=page==getNumber(totalEmails.count).length?"":getPage(page+1)
                               aria-label="Next">
                                <span aria-hidden="true">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 row">
                    <div class="col-md-2">Total emails: {{totalEmails.count}}</div>
                    <div class="col-md-5"><input type="text" size="30" placeholder="Filter emails..." ng-model="query">
                    </div>
                    <div class="col-md-2 dropdown pull-right">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Select Per Page
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li class={{numPerPage==100?"disabled":""}}><a href=""
                                                                           ng-click=numPerPage==100?"":updatePerPage(100)>Show
                                100</a></li>
                            <li class={{numPerPage==150?"disabled":""}}><a href=""
                                                                           ng-click=numPerPage==150?"":updatePerPage(150)>Show
                                150</a></li>
                            <li class={{numPerPage==200?"disabled":""}}><a href=""
                                                                           ng-click=numPerPage==200?"":updatePerPage(200)>Show
                                200</a></li>
                            <li class={{numPerPage==250?"disabled":""}}><a href=""
                                                                           ng-click=numPerPage==250?"":updatePerPage(250)>Show
                                250</a></li>
                            <li class={{numPerPage==500?"disabled":""}}><a href=""
                                                                           ng-click=numPerPage==500?"":updatePerPage(500)>Show
                                500</a></li>
                            <li class={{numPerPage==totalEmails.count?"disabled":""}}><a href=""
                                                                                         ng-click=numPerPage==totalEmails.count?"":updatePerPage(totalEmails.count)>All</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">Per page emails: {{numPerPage}} &nbsp;&nbsp;&nbsp;&nbsp;</div>
                </div>
                <br>
                <br>
                <ul class="list-group">
                    <li ng-repeat="email in data  = (emails | filter:query | orderBy:orderProp)"
                        class="list-group-item">
                        <a href="" ng-click="showHide(email)">{{email.message_id}}</a>
                        <a href="" ng-click="showHide(email)"><b>{{email.subject.substring(0,100)}}</b></a>&nbsp;&nbsp;(<i>{{email.from_name}}</i>)
                        <i class="pull-right">
                            <button class="btn btn-primary btn-xs" type="button" ng-click=deleteEmail($index,email)>
                                Delete it!
                            </button>
                        </i>
                        <em class="pull-right" style="margin-right: 10px">
                            {{email.message_date!=null?email.message_date:email.date_created}}
                        </em>
                        <br class="show-{{email.show}}">
                        <em class="show-{{email.show}}">From : {{email.from_name}}
                            &nbsp;&nbsp;<b>{{email.from_email}}</b></em>
                        <a class="show-{{email.show}}" href="" ng-click="showText(email)">body</a>
                        <div class="row">
                            <ul class="show-{{email.show}} col-md-5">
                                Files Attachments:
                                <li class="list-inline"
                                    ng-repeat="file in email.fileArray track by $index">
                                    <a href="/files/?file_name={{file.id}}"
                                       target="_blank">{{file.name}}</a>
                                </li>
                            </ul>
                            <ul class="show-{{email.show}} col-md-5">
                                Message Attachments:
                                <li class="list-inline"
                                    ng-repeat="message in email.emailArray track by $index">
                                    <a href="">{{message.id}}&nbsp;&nbsp;{{message.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div id="content-{{email.message_id}}" class="show-{{email.showBody}} pre-scrollable">

                        </div>
                        <iframe class="show-{{email.showBody}} pre-scrollable" height="300px" width="1000px"
                                ng-src="{{trustSrc(email)}}"></iframe>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
